main {
    margin-inline: auto;
    padding-top: 3.875rem;
    padding-inline: 3rem;
    padding-bottom: 3rem;
    min-width: 42.5rem;
    position: relative;


    & .schedule-header {
        display: flex;
        align-items: center;
        gap: 4.2rem;

        & div {
            & h2 {
                font: var(--title);
                color: var(--content-primary);
                line-height: 1.5;
            }

            & p {
                font: var(--paragraph-medium);
                color: var(--content-secondary);
            }
        }

        & .schedule-date {
            display: flex;
            align-items: center;
            width: 11.7rem;
            height: 3rem;
            border: 1px solid var(--border-primary);
            border-radius: 0.5rem;

            & img {
                width: 1.25rem;
                height: 1.25rem;
                margin-inline: 0.75rem 0.5rem;
            }

            & input {
                all: unset;
                position: relative;
                width: 70%;
                font: var(--label-large);
                color: var(--content-secondary);
                margin-right: 0.75rem;

                &::-webkit-calendar-picker-indicator { /* Remove o icone padrão do calendário */
                    opacity: 0;
                }

                &::before {
                    content: "";
                    position: absolute;
                    background: url(../assets/icons/arrow.svg)center/contain;
                    right: 0;
                    width: 1.25rem;
                    height: 1.25rem;

                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }

    & .schedule-period {
        background-color: var(--background-tertiary);
        border-radius: 0.625rem;
        margin-top: 2rem;

        & header {
            height: 3rem;
            padding-inline: 1.25rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font: var(--label-large);
            color: var(--content-primary);
            border-bottom: 0.6px solid var(--border-divisor);

            & > strong {
                color: var(--content-secondary);
            }

            & div {
                display: flex;
                align-items: center;
                gap: 0.75rem;
            }
        }

        & ul {
            list-style: none;
            padding: 1.25rem;

            & li {
                display: flex;
                align-items: center;
                height: 3rem;
                padding-inline: 0.75rem;
                
                & div {
                    display: flex;
                    & > strong {
                        font: var(--label-medium);
                        color: var(--content-primary);
                        line-height: inherit;
                    }

                    & div {
                        margin-inline: 1rem;
                        min-width: 10.8rem;
                        & #pet-name {
                            font: var(--label-small);
                            color: var(--content-primary);
                        }

                        & #tutor-name, #service {
                            font: var(--paragraph-small);
                            color: var(--content-secondary);
                        }
                    }
                }

                & #service {
                    min-width: 9rem;
                    font: var(--paragraph-small);
                    color: var(--content-secondary);
                }
                
                & button {
                    all: unset;
                    min-width: 8.312rem;
                    margin-left: auto;
                    font: var(--paragraph-small);
                    color: var(--content-tertiary);
                    transition: color 0.2s ease, text-decoration 0.2s ease;
                }

                & button:hover {
                    cursor: pointer;
                    color: var(--content-primary);
                    text-decoration: underline;
                }
            }

            & .divisor {
                height: 1px;
                border-bottom: 0.6px solid var(--border-divisor);
            }
        }
    }
}

@media (width < 40rem) {
    main {
        padding-block: 1.312rem 2.75rem;
        padding-inline: 1.25rem;
        /* margin-inline: 5px; */
        min-width: 25rem;
        max-width: 100vw;
        

        & .schedule-header {
            margin-bottom: 2rem;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.75rem;
        }

        & .schedule-period {
            margin-block: 0.75rem 1.5rem;

            & .period {
                & li {
                    flex-direction: column;
                    align-items: flex-start;

                    & > div {
                        display: flex;
                        align-items: center;
                    }
                }
            }

            & .divisor {
                margin-block: 1rem;
            }
        }
    }
}