footer {
    align-content: end;
    min-width: 13.625rem;
    position: relative;
    margin-inline: 1.875rem;
    padding-bottom: 2.062rem;

    & .footer-content {
        margin-inline: inherit;
        padding-bottom: inherit;
        position: fixed;
        right: 0;
        bottom: 0;
        & .new-appointment {
            all: unset;
            width: 13.625rem;
            height: 3rem;
            background-color: var(--content-brand);
            box-shadow: 10px -15px -10px black;
    
            font: var(--label-large);
            color: var(#050505);
    
            border-radius: 0.5rem;
            text-transform: uppercase;
            text-align: center;
            filter: drop-shadow(1px 1px 25px #3b3180);
    
            &:hover {
                cursor: pointer;
            }
        }
    }
}
