form {

    & .create-schedule {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        flex-direction: column;
        width: 29.812rem;
        /* height: 44.75rem; */
        padding-block: 2.343rem;
        padding-inline: 2.5rem;
        border-radius: 0.75rem;
        background-color: var(--background-tertiary);

        & h2 {
            font: var(--title);
            color: var(--content-primary);
            line-height: 1;
        }

        & p {
            font: var(--paragraph-medium);
            color: var(--content-secondary);
        }

        & .form-group {
            padding-top: 0.5rem;
            display: grid;
            gap: 1rem;

            & div {
                & label {
                    font: var(--label-medium);
                    color: var(--content-primary);
                }
    
                /* & div:not(.button-confirm-schedule):not(.section-date-time) { */
                & .input-form {
                    display: flex;
                    align-items: center;
                    gap: 0.25rem;
                    
                    padding: 0.5rem;
                    border-radius: 0.5rem;
                    border: 1px solid var(--border-primary);
                    transition: border 0.2s ease, color 0.2s ease;
    
                    font: var(--fw-regular) 1rem/1.5 var(--ff-inter);
                    color: var(--content-secondary);
    
                    & img {
                        height: 1.25rem;
                        width: 1.25rem;
                    }
    
                    & input, & textarea {
                        all: unset;
                        width: 100%;
                    }
    
                    & textarea {
                        background-color: transparent;
                        width: 100%;
                        height: 3.5rem;
                        overflow-wrap: break-word;
                        
                    }
                    & textarea::-webkit-scrollbar {
                        width: 6px;
                    }
    
                    & textarea::-webkit-scrollbar-thumb {
                        background-color: #555; 
                        border-radius: 3px;
                    }
                }

                & .input-form:hover {
                    border: 1px solid var(--border-secondary);
                }

                & .input-form:focus-within {
                    border: 1px solid var(--border-brand);
                    color: var(--content-primary);
                }
            }

            & .section-date-time {
                display: flex;
                gap: 1rem;

                
                & div {
                    width: 50%;

                    & div {
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;

                        padding: 0.75rem;
                        width: 100%;
                        height: 3rem;
                        
                        border: 1px solid var(--border-primary);
                        border-radius: 0.5rem;

                        transition: border 0.2s ease;

                        & img {
                            width: 1.25rem;
                            height: 1.25rem;
                        }
                        
                        & input, & select {
                            width: 100%;
                            background-color: transparent;
                            border: none;
                            outline: none;
                            color: var(--content-secondary);
                            font: var(--fw-regular) 1rem/1.5 var(--ff-inter);
                            background: url("../assets/icons/arrow.svg") no-repeat right center;
                        }

                        & input::-webkit-calendar-picker-indicator {
                            opacity: 0;
                        }

                        & select {
                            appearance: none;
                        }
                    }

                    & div:hover {
                        border: 1px solid var(--border-secondary);
                    }

                    & div:focus-within {
                        border: 1px solid var(--border-brand);

                        & input {
                            color: var(--content-primary);
                        }
                    }
                }
            }

            & .button-confirm-schedule {
                padding-top: 0.5rem;
                margin-left: auto;
                text-align: center;

                & .new-appointment {
                    all: unset;

                    width: 7.687rem;
                    height: 3rem;

                    border-radius: 0.5rem;

                    background-color: var(--content-brand);
                    
                    font: var(--label-large);
                    transition: background-color 0.2s ease;
                }
        
                &:hover {
                    & .new-appointment {
                        cursor: pointer;
                        background-color: var(--background-highlights);

                    }
                }
            }
        }
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        height: 100%;
        backdrop-filter: blur(5px);
    }
}