main {
    /* display: grid; */
    margin-inline: auto;
    padding-top: 3.875rem;

    & .schedule-header {
        display: flex;
        align-items: center;
        gap: 4.2rem;

        & div {
            & h2 {
                font: var(--title);
                color: var(--content-primary);
                line-height: 1.5;
            }

            & p {
                font: var(--paragraph-medium);
                color: var(--content-secondary);
            }
        }

        & .schedule-date {
            display: flex;
            align-items: center;
            width: 11.7rem;
            height: 3rem;
            border: 1px solid var(--border-primary);
            border-radius: 0.5rem;

            & img {
                width: 1.25rem;
                height: 1.25rem;
                margin-inline: 0.75rem 0.5rem;
            }

            & input {
                all: unset;
                position: relative;
                width: 70%;
                font: var(--label-large);
                color: var(--content-secondary);
                margin-right: 0.75rem;

                &::-webkit-calendar-picker-indicator { /* Remove o icone padrão do calendário */
                    opacity: 0;
                }

                &::before {
                    content: "";
                    position: absolute;
                    background: url(../assets/icons/arrow.svg)center/contain;
                    right: 0;
                    width: 1.25rem;
                    height: 1.25rem;

                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }

    & .schedule-period {
        background-color: var(--background-tertiary);
        border-radius: 0.625rem;
        margin-top: 2rem;

        & header {
            height: 3rem;
            padding-inline: 1.25rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font: var(--label-large);
            color: var(--content-primary);
            border-bottom: 0.6px solid var(--border-divisor);

            & > strong {
                color: var(--content-secondary);
            }

            & div {
                display: flex;
                align-items: center;
                gap: 0.75rem;
            }
        }

        & ul {
            list-style: none;
            padding: 1.25rem;

            & li {
                display: flex;
                align-items: center;
                height: 3rem;
                padding-inline: 0.75rem;

                & > strong {
                    font: var(--label-medium);
                    color: var(--content-primary);
                    line-height: inherit;
                }

                & div {
                    margin-inline: 1rem;
                    min-width: 12.187rem;
                    & #pet-name {
                        font: var(--label-small);
                        color: var(--content-primary);
                    }

                    & #tutor-name, #service {
                        font: var(--paragraph-small);
                        color: var(--content-secondary);
                    }
                }

                & #service {
                    font: var(--paragraph-small);
                    color: var(--content-secondary);
                }
                
                & button {
                    all: unset;
                    margin-left: auto;
                    font: var(--paragraph-small);
                    color: var(--content-tertiary);
                }
            }

            & .divisor {
                height: 1px;
                border-bottom: 0.6px solid var(--border-divisor);
            }
        }
    }
}

